<ion-header>
    <ion-navbar color="primary">
      <ion-title>
          Forgot Password
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="background">
    <ion-card>
      <ion-card-header>
        Forgot password Form
      </ion-card-header>
      <ion-card-content>
        <ion-list no-line>
          <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgot(forgotpasswordForm.value)">
            <ion-item>
              <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
            </ion-item>
            <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('required') && forgotpasswordForm.get('email').touched">
              email is required
            </div>
  
            <!-- <div class="error" *ngIf="v.get('email').hasError('email') && forgotpasswordForm.get('email').touched">
              Please enter valid email
            </div> -->
            
            <button type="submit" ion-button block outline color="light" round>Send</button>
          </form>
        </ion-list>
      </ion-card-content>
  
  
