<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Signup
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Signup Form
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
          <ion-item>
            <ion-input type="text" placeholder="UserName" formControlName="userName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <div class="error" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
            email is required
          </div>
          <ion-item>
            <ion-input type="text" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <div class="error" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
            Minimum of 8 characters
          </div>
          <ion-item>
            <ion-input type="text" placeholder="Confirm-Password" formControlName="confirmpassword"></ion-input>
          </ion-item>
          <button ion-button block outline color="light" round>SignUp</button>
          <br>
        </form>
      </ion-list>
    </ion-card-content>

